.container {
  height: fit-content;
  max-width: 70%;
  margin: 0 1rem;
}

.header {
  margin-bottom: 2rem;
  text-align: center;
  position: relative;
}

.title {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 0.25rem;
  line-height: 1.2;
  margin-top: -2rem;
}

.subtitle {
  font-size: 1.125rem;
  color: var(--secondary);
  max-width: 600px;
  margin: 0 auto;
}

.sectionTitle {
  font-size: 1.5rem;
  margin-bottom: 0.75rem;
  border-bottom: 2px solid rgba(255 255 255 / 0.08);
  padding-bottom: 0.25rem;
  width: 100%;
  color: var(--secondary);
}

.list {
  margin-top: 0.25rem;
  margin-bottom: 0.5rem;
}

.list li {
  margin: 0.4rem 0;
}

.list ul {
  padding-left: 1.2rem;

  margin-top: 0.15rem;
  margin-bottom: 0.15rem;
  list-style-type: circle;
}

.list ul li {
  margin: 0.5rem 0;
}

.container code {
  background: var(--code-bg, var(--code));
  color: var(--code-text, var(--primary));
  padding: 0.15rem 0.4rem;
  border-radius: 4px;
  font-family: inherit;
  color: var(--text-light);
  font-family: monospace;
}

.code {
  background: var(--code);
  color: var(--text-light);
  padding: 1rem;
  border-radius: 6px;
  overflow: auto;
  font-size: 0.9rem;
  font-family: monospace;
}

.footer {
  margin-top: 4rem;
  text-align: center;
}
.back {
  color: var(--secondary);
  text-decoration: none;
  font-weight: 600;
  transition: color 0.25s;
}
.back:hover {
  color: var(--tertiary);
}

.centeredButton {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.externalLink a {
  color: var(--secondary);
  font-weight: 600;
  text-decoration: none;
  transition: color 0.25s;
}

.externalLink a:hover {
  color: var(--tertiary);
  text-decoration: underline;
}

@media (max-width: 640px) {
  .page {
    padding-inline: 1rem;
  }
  .sectionTitle {
    font-size: 1.35rem;
  }

  .container {
    margin: 0 0.5rem;
  }
}
