/* src/app/museum/[team]/page.module.css */
.container {
  height: fit-content;
  margin-bottom: 3rem;
}

.header {
  margin-bottom: 3rem;
  text-align: center;
  position: relative;
}

.backButton {
  position: absolute;
  left: 0;
  top: 0;
  padding: 0.5rem 1rem;
  background-color: var(--secondary);
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.backButton:hover {
  background-color: var(--tertiary);
}

.header h1 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

.header p {
  font-size: 1.2rem;
  color: var(--secondary);
}

.empty {
  text-align: center;
  padding: 2rem;
  font-size: 1.2rem;
}

.room {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, auto);
  gap: 2rem;
  border: 3px solid var(--secondary);
  padding: 2rem;
  width: 80vw;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vw;
}

.roomText {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

.emptyCell {
  background-color: transparent;
  min-height: 150px;
  border-radius: 0.5rem;
}

.secondaryTeamNote {
  margin-top: 0.5rem;
  font-size: 0.8rem;
  color: #888;
  font-style: italic;
}

.pager {
  margin: 3rem 0;
  display: flex;
  justify-content: space-between;
  font-weight: 600;
}

.prev,
.next {
  color: var(--secondary);
  text-decoration: none;
}