:root.light {
  --background: #ffffff;
  --foreground: #171717;
  --accent: pink;
}

:root.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
  --accent: #64b5f6;
}

html,
body {
  height: 100%; /* not required for the hero, but nice baseline */
}
