:root.light {
  --background: #ffffff;
  --foreground: #171717;
  --accent: pink;
}

:root.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
  --accent: #64b5f6;
}

html,
body {
  height: 100%; /* not required for the hero, but nice baseline */
  margin: 0;
}

.global-container {
  display: flex;
  flex-direction: column;
  /* gap: 3rem; */
  height: 100%;
}

.main-content {
  padding-top: calc(64px + 1rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
