.cardGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  padding: 0.5rem;
}

.playerCard {
  display: flex;
  flex-direction: column;
  aspect-ratio: 4 / 5;
  max-width: 100%;
  max-height: 100%;
  border: 1px solid var(--tertiary);
  border-radius: 8px;
  background-color: var(--secondary);
  overflow: hidden;
  text-decoration: none;
  transition: transform 0.3s, box-shadow 0.3s;
}

.playerCard.mainTeam {
  border-left: 4px solid #0066cc;
}

.playerCard:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.playerImage {
  width: 100%;
  flex: 0 0 65%;
  position: relative;
  overflow: hidden;
}

.playerImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s;
}

.playerCard:hover .playerImage img {
  transform: scale(1.05);
}

.playerInfo {
  flex: 1 1 35%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.4rem 0.6rem;
}

.playerInfo h3 {
  margin: 0 0 0.5rem 0;
  font-size: 1.5vw;
}


@media (max-width: 480px) {
  .playerInfo h3 {
    font-size: 1.3vw;
    margin: 0;
  }

  .playerInfo {
    padding: 0.1rem;
  }
}
