/* src/app/disclaimer/page.module.css */

.container {
  height: fit-content;
  max-width: 1000px;
  margin: 0 1rem;
  padding: 2rem 0;
}

.header {
  position: relative;
  text-align: center;
  margin-bottom: 3rem;
}

.header h1 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

.header p {
  font-size: 1.2rem;
  color: var(--secondary);
}

.playersGrid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.card {
  width: 300px;
  background-color: var(--secondary);
  border: 1px solid var(--tertiary);
  border-radius: 8px;
  overflow: hidden;
  transition:
    transform 0.3s,
    box-shadow 0.3s;
  text-decoration: none;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.cardContent {
  padding: 1.5rem;
}

.cardContent h3 {
  margin: 0 0 0.5rem 0;
  font-size: 1.5rem;
  color: var(--primary);
}

.cardContent p {
  margin: 0.3rem 0;
  color: #666;
  line-height: 1.5;
}

.allButton {
  display: inline-block;
  margin: 2rem auto 0;
  padding: 0.6rem 1.2rem;
  background: var(--secondary);
  color: #000;
  border-radius: 100vmax;
  font-weight: 600;
  text-decoration: none;
  transition: transform 0.2s;
}

.allButton:hover {
  transform: translateY(-2px);
}
